.banner-partners {

  @media (max-width: 768px) {
    display: grid;
    justify-items: center;
    column-gap: 30px;
    grid-template-areas:
      'item1 item2'
      'item5 item5'
      'item4 item3'
      'item6 item6';
  }

  &__item {
    @include flex-center;
    width: calc(16% - 80px);

    &_first {
      grid-area: item1;
    }

    &_second {
      grid-area: item2;
    }

    &_three {
      grid-area: item3;
    }

    &_fourth {
      grid-area: item4;
    }

    &_fifth {
      grid-area: item5;
    }

    &_sixth {
      grid-area: item6;
    }
  }
}
