.blogs {
  @include flex-column;
  align-items: flex-start;
  gap: 38px;
  padding-top: 36px;

  @media (max-width: 1200px) {
    gap: 24px;
    padding-top: 22px;
  }

  &__wrapper {
    @include flex-column;
    gap: 19px;

    @media (max-width: 1200px) {
      gap: 10px;
    }

    @media (max-width:992px) {
      font-size: 12px;;
      gap: 5px;
    }
  }

  &__card {
    display: flex;
  }

  &__link {
    display: flex;
    gap: 30px;
    color: var(--primary-color);

    @media (max-width: 1200px) {
      gap: 20px;
    }

    &:hover {
      color: var(--danger-color);
    }

    &:active {
      color: #f25d5a;
      text-decoration-color: #f25d5a;
    }
  }

  &__image {
    @media (max-width: 1200px) {
      max-width: 115px;
      max-height: 71px;
    }
  }

  &__text {
    @include flex-column;
    align-items: flex-start;
    gap: 15px;
    padding-top: 3px;
    color: inherit;

    @media (max-width:992px) {
      font-size: 12px;;
      gap: 0;
    }

    &-item {
      color: inherit;

      @media (max-width:992px) {
        font-size: inherit;
      }
    }
  }
}
