.blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 768px) {
    justify-content: center;
    gap: 25px;
  }

  &__card {
    width: calc(33% - 16px);
    @include flex-column;
    align-items: flex-start;
    gap: 33px;

    @media (max-width: 1200px) {
      width: calc(33% - 7px);
    }

    @media (max-width: 768px) {
      width: 55%;
    }


    @media (max-width: 576px) {
      width: 70%;
    }

    @media (max-width: 400px) {
      width: 100%;
    }
  }

  &__text {
    text-align: left;
    color: inherit;
  }

  &__link {
    @include flex-column;
    gap: 15px;
    color: var(--primary-color);

    @media (max-width: 1200px) {
      gap: 28px;
    }

    @media (max-width: 768px) {
      gap: 23px;
    }

    &:hover {
      color: var(--danger-color);
    }

    &:active {
      color: #f25d5a;
    }
  }

  &__image {
    position: relative;

    &-item {
      @include img-contain;
    }
  }

  &__icon {
    display: flex;
    gap: 45px;

    @media (max-width: 1200px) {
      gap: 35px;
    }
  }

  &__wrapper-icon {
    display: flex;
    align-items: center;
    gap: 15px;

    @media (max-width: 1200px) {
      gap: 10px;
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__date {
    position: absolute;
    bottom: 10%;
    right: 82%;
    padding: 10px 22px;
    @include flex-center;
    flex-direction: column;
    gap: 10px;
    color: var(--light-color);
    background: var(--success-color);

    @media (max-width: 1200px) {
      padding: 11px 20px;
      gap: 8px;
    }

    @media (max-width: 992px) {
      right: 81%;
      padding: 8px 17px;
    }

    @media (max-width: 810px) {
      right: 76%;
    }

    @media (max-width: 400px) {
      padding: 11px 20px;
    }

    &-number {
      font-weight: 700;
      font-size: 36px;
      line-height: 30px;
      text-transform: uppercase;

      @media (max-width: 1200px) {
        font-size: 24px;
        line-height: 20px;
      }
    }

    &-month {
      font-size: 18px;
      line-height: 21px;
      text-transform: uppercase;

      @media (max-width: 1200px) {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}
