.box-what-we-do {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 41px 0 114px 0;

  &__content {
    display: flex;
    gap: 30px;
  }

  &__item {
    width: 53%;
  }

  &-img {
    width: 100%;
  }
}
