.box-services-row {
  padding-top: 88px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 148px;
  justify-content: center;

  @media (max-width: 1200px) {
    padding-top: 68px;
    row-gap: 72px;
  }
}
