.box-what-we-do {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 41px 0 114px 0;

  @media (max-width: 1200px) {
    gap: 70px;
    padding: 41px 0 88px 0;
  }

  @media (max-width: 768px) {
    padding: var(--main-padding-box);
  }

  &__content {
    display: flex;
    gap: 30px;

    @media (max-width: 1200px) {
      gap: 20px;
    }

    @media (max-width: 768px) {
      @include flex-column;
    }
  }

  &__item {
    width: 53%;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &-img {
    width: 100%;
  }
}
