.box-services-col {
  display: flex;
  width: calc(33% - 20px);
  gap: 26px;

  @media (max-width: 768px) {
    justify-content: center;
    width: 100%;
    gap: 19px;
  }


  &__text {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (max-width: 768px) {
      gap: 16px;
    }
  }

  &__icon {
    @media (max-width: 1200px) {
      max-height: 59px;
      max-width: 59px;
    }
  }
}
