.box-services {
  display: flex;
  flex-direction: column;
  padding: 41px 0 91px 0;

  @media (max-width: 1200px) {
    padding: 41px 0 91px 0;
  }

  @media (max-width: 768px) {
    padding: var(--main-padding-box);
  }
}
