.box-services-col {
  display: flex;
  width: calc(33% - 20px);
  gap: 26px;


  &__text {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__icon-item {
    @media (max-width: 1200px) {
      max-height: 59px;
      max-width: 59px;
    }
  }
}
