.box-counter {
  padding: 65px 0 0 0;
}

.counter {
  @include flex-center;
  background: var(--success-color);

  &__item {
    color: var(--light-color);
    font-size: 1.25rem;
    padding: 76px 55.5px 76px 55.5px;
    border-right: 1px solid var(--light-color);
  }

  &__number {
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.688rem;
    color: var(--light-color);
  }

  &__item_left_border {
    border-left: 1px solid var(--light-color);
  }
}
