.box-what-we-do {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 41px 0 114px 0;

  @media (max-width: 1200px) {
    gap: 70px;
    padding: 41px 0 88px 0;
  }

  &__content {
    display: flex;
    gap: 30px;

    @media (max-width: 1200px) {
      gap: 20px;
    }
  }

  &__item {
    width: 53%;
  }

  &-img {
    width: 100%;
  }
}
