$component: 'btn';

.#{$component} {
  --btn-color: var(--dark-color)000;
  --btn-bg-color: transparent;
  --btn-border-color: transparent;
  --btn-color-hover: var(--dark-color)000;
  --btn-bg-color-hover: transparent;
  --btn-border-color-hover: transparent;
  --btn-color-activ: var(--dark-color)000;
  --btn-bg-color-activ: transparent;
  --btn-border-color-activ: transparent;
  --btn-font-size: 18px;
  --btn-line-height: 21px;
  --btn-font-weight: 400;
  --btn-padding: 10px 10px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--btn-color);
  background-color: var(--btn-bg-color);
  border: 1px solid var(--btn-border-color);
  font-size: var(--btn-font-size);
  line-height: var(--btn-line-height);
  font-weight: var(--btn-font-weight);
  padding: var(--btn-padding);

  &:hover {
    color: var(--btn-color-hover);
    background-color: var(--btn-bg-color-hover);
    border-color: var(--btn-border-color-hover);
  }

  &:active {
    color: var(--btn-color-activ);
    background-color: var(--btn-bg-color-activ);
    border-color: var(--btn-border-color-activ);
  }

  &_learn-more {
    position: relative;
    z-index: 2;
    --btn-color: var(--light-color);
    --btn-border-color: var(--light-color);
    --btn-font-size: 24px;
    --btn-line-height: 28px;
    --btn-font-weight: 700;
    --btn-padding: 21px 104px;
    --btn-color-hover: var(--secondary-color);
    --btn-bg-color-hover: var(--light-color);
    --btn-border-color-hover: var(--light-color);
    --btn-color-activ: var(--secondary-color);
    --btn-bg-color-activ: var(--light-color);
    --btn-border-color-activ: var(--secondary-color);
    border: 4px solid;

    @media (max-width: 1200px) {
      --btn-font-size: 18px;
      --btn-line-height: 21px;
      --btn-padding: 13px 97px;
    }
  }

  &_subscribe {
    --btn-color: var(--light-color);
    --btn-bg-color: var(--success-color);
    --btn-border-color: var(--success-color);
    --btn-font-size: 18px;
    --btn-line-height: 21px;
    --btn-font-weight: 700;
    --btn-color-hover: var(--light-color);
    --btn-bg-color-hover: #87D2C4;
    --btn-border-color-hover: #87D2C4;
    --btn-color-activ: var(--light-color);
    --btn-bg-color-activ: #5C958A;
    --btn-border-color-activ: #5C958A;
    --btn-padding: 16px;
  }
}
