.col-under-middle {
  @include flex-column;
  align-items: flex-start;
  gap: 38px;
  padding-top: 36px;
  width: 39%;

  &__wrapper {
    @include flex-column;
    gap: 19px;
  }

  &__item {
    display: flex;
    gap: 30px;
  }

  &__link {
    display: flex;
    gap: 30px;
    color: var(--primary-color);

    &:hover {
      color: var(--danger-color);
    }

    &:active {
      color: #f25d5a;
      text-decoration-color: #f25d5a;
    }
  }

  &__image {
    @media (max-width: 1200px) {
      max-width: 115px;
      max-height: 71px;
    }
  }

  &__text {
    @include flex-column;
    align-items: flex-start;
    gap: 15px;
    padding-top: 3px;
    color: inherit;

    &-item {
      color: inherit;
    }
  }
}
