.col-under-left {
  @include flex-column;
  width: calc(32% - 4px);
  justify-content: space-between;

  &__wrapper {
    border-bottom: 1px solid var(--gray-300);
    padding-bottom: 17px;
    @include flex-column;
    gap: 39px;
    align-items: flex-start;

    &-second {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 31px;
    }
  }

  &__counter-followers {
    padding-top: 11px;
    display: flex;
    align-items: flex-end;
  }

  &__followers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--primary-color);
  }

  &__followers-posttitle {
    text-transform: uppercase;
    color: #2d3033;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 30px;

    & span {
      font-style: normal;
      font-weight: 700;
    }
  }

  &__icon {
    @include flex-center;
    gap: 17px;
  }

  &__link {
    color: var(--success-color);

    &:hover {
      color: var(--danger-color);
      transform: scale(1.5);
    }

    &:active {
      color: #f25d5a;
      transform: scale(1.5);
    }
  }

  &__subscribe {
    display: flex;
  }
}
