.details-summary {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__item {
    border: 1px solid #C6CBCD;
  }

  &__description {
    text-align: left;
    color: var(--main-text-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding: 17px 85px 0 22px;
    max-height: 155px;
    overflow: auto;
  }

  &__text {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: var(--main-text-color);
    border-bottom: 1px solid #C6CBCD;
    padding: 25px 0 25px 18px;
    justify-content: space-between;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 40px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }
}

.details-summary__text::after {
  content: url(/src/images/arrow-close.png);
  padding-right: 14px;
}

.details-summary__item[open]>.details-summary__text::after {
  content: url(/src/images/arrow-open.png);
}
