.details-summary {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (max-width: 1200px) {
    gap: 18px;
  }

  &__item {
    border: 1px solid var(--gray-300);
  }

  &__description {
    padding: 17px 85px 0 22px;
    max-height: 155px;
    overflow: auto;

    @media (max-width: 1200px) {
      padding: 15px 85px 0 20px;
      max-height: 138px;
    }

    &::-webkit-scrollbar {
      width: 7px;
      height: 60px;
    }

    &::-webkit-scrollbar-track {
      background: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--success-color);
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #74cab7;
    }
  }

  &__text {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: var(--primary-color);
    border-bottom: 1px solid var(--gray-300);
    padding: 25px 0 25px 18px;
    justify-content: space-between;

    @media (max-width: 1200px) {
      padding: 21px 0 21px 16px;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__icon {
    @media (max-width: 1200px) {
      max-width: 36px;
      max-height: 35px;
    }
  }
}

.details-summary__text::after {
  content: url(/src/images/arrow-close.png);
  cursor: pointer;
  padding-right: 14px;
}

.details-summary__item[open]>.details-summary__text::after {
  content: url(/src/images/arrow-open.png);
}
