.gallery {
  display: flex;
  gap: 30px;

  @media (max-width: 1200px) {
    gap: 20px;
  }

  &__item {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__icon {

    &-team {
      @media (max-width: 1200px) {
        max-width: 31px;
        max-height: 29px;
      }
    }

  }

  &__title {
    opacity: 0;
    @include absolute-zero;
    background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.75rem;
    text-transform: uppercase;
    color: var(--light-color);
    z-index: 2;
    align-items: center;
    gap: 1.775rem;
    @include flex-column;
    justify-content: center;

    @media (max-width: 1200px) {
      font-size: 18px;
      line-height: 21px;
    }

    &:hover {
      animation: bounceInLeft 300ms ease-in-out 1 forwards;

      @keyframes bounceInLeft {
        0% {
          opacity: 0;
          top: 0;
          right: 0;
        }

        100% {
          opacity: 1;
          left: -16px;
          bottom: 16px;
          right: 16px;
          top: -16px;
        }
      }

      @media (max-width: 1200px) {
        animation: bounceInLeft 300ms ease-in-out 1 forwards;

        @keyframes bounceInLeft {
          0% {
            opacity: 0;
            top: 0;
            right: 0;
          }

          100% {
            opacity: 1;
            left: -6px;
            bottom: 6px;
            right: 6px;
            top: -6px;
          }
        }
      }
    }

    &:active {
      color: var(--danger-color);
    }
  }

  &__title-bg {
    opacity: 0;
    @include absolute-zero;
    background: var(--success-color);
    z-index: 1;
  }

  &__image {
    @include img-contain;
  }

  &__item:hover .gallery__title-bg {
    opacity: 1;
    @include flex-column;
    justify-content: center;
  }

  &__item:hover .gallery__title_row {
    flex-direction: row;
    gap: 1px;
  }

  &__link {
    color: var(--danger-color);
    background: #F9EFCF;
    min-height: 42px;
    min-width: 42px;
    @include flex-center;

    @media (max-width: 1200px) {
      min-height: 35px;
      min-width: 35px;
    }
  }

  &__link:hover {
    color: var(--light-color);
    background: var(--danger-color);
  }
}
