* {
  /*font-family: 'Kaushan Script';
  font-family: 'Montserrat', sans-serif;*/
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  padding: 0;
  margin: 0;
  --main-padding-box: 2.625rem 0 2.625rem 0;
  --main-text-color: #2D3033;
  scroll-behavior: smooth;

  :focus-visible {
    border: 3px solid #95E1D3;
    border-radius: 8px;
    outline: none;
  }

  ::-webkit-scrollbar {
    width: 7px;
    height: 60px;
  }

  ::-webkit-scrollbar-track {
    background: #F5F5F5;
  }

  ::-webkit-scrollbar-thumb {
    background: #95E1D3;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #74cab7;
  }
}

.container {
  margin: 0 auto;
  max-width: 1510px;

  &__item {
    margin: 0 auto;
    max-width: 1170px;
  }
}

.header {
  background-image: url(/src/images/bg-header.png);
  position: relative;
  @include bg;


  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
  }
}
