.header-under-nav {
  position: relative;
  z-index: 2;
}

.header-under-nav-menu {
  display: flex;
  justify-content: space-between;


  &__link {
    font-weight: 600;
    font-size:14px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--light-color);
    padding-top: 42px;

    @media (max-width: 1200px) {
      font-weight: 400;
      padding-top: 22px;
    }
  }

  &__link span {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;

    @media (max-width: 1200px) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__link:hover {
    border-top: 4px solid var(--danger-color);
  }

  &__item {
    padding: 21px 150px 21px 0px;
    border-top: 4px solid var(--light-color);

    @media (max-width: 1200px) {
      padding: 13px 140px 13px 0;
    }
  }
}
