h1 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 9rem;
  line-height: 11rem;
  text-transform: uppercase;

  @media (max-width: 1200px) {
    font-size: 96px;
    line-height: 117px;
  }

  @media (max-width: 768px) {
    font-size: 48px;
    line-height: 59px;
  }
}

h2 {
  font-family: 'Kaushan Script';
  font-size: 4rem;
  line-height: 5.813rem;

  @media (max-width: 1200px) {
    font-size: 48px;
    line-height: 70px;
  }

  @media (max-width: 768px) {
    font-size: 36px;
    line-height: 52px;
  }
}

h3 {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.188rem;
}

h4 {
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-transform: uppercase;
}

h5 {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.313rem;
}

h6 {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 0.813rem;
  line-height: 0.938rem;
}
