.header-under-nav {
  position: relative;
  z-index: 2;
}

.header-under-nav-menu {
  display: flex;
  justify-content: space-between;


  &__link {
    font-weight: 600;
    font-size:14px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--light-color);
    padding-top: 42px;
  }

  &__link span {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
  }

  &__link:hover {
    border-top: 4px solid var(--danger-color);
  }

  &__item {
    padding: 21px 150px 21px 0px;
    border-top: 4px solid var(--light-color);
  }
}
