.instagram-gallery {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: repeat(3, max-content);

  &__item {
    max-height: 92px;

    @media (max-width: 1200px) {
      max-height: 76px;
    }

    &-image {
      border: 2px solid var(--light-color);
      @include img-contain;

      @media (max-width: 1200px) {
        border: 1px solid var(--light-color);
      }

      &:hover {
        border-color: var(--success-color);
      }

      &:active {
        border-color: #5c958a;
      }

      @media (max-width: 1200px) {
        max-width: 78px;
        max-height: 76px;
      }
    }
  }
}
