.nav-menu {
  display: flex;
  gap: 15px;

  &__link {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1rem;
    text-transform: uppercase;
    color: #fff;
    padding: 0px 18.5px 7px 18.5px;
  }

  &__link:hover {
    border-bottom: 1px solid var(--color-gold);
    color: var(--color-gold);
  }

  &__link-icon {
    color: #fff;
  }

  &__link-icon:hover {
    color: var(--color-gold);
  }

  &__item-img {
    padding: 0 30px 1px 0;
  }
}
