.nav-menu {
  display: flex;
  gap: 28px;
  align-items: center;

  &__link {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1rem;
    text-transform: uppercase;
    color: var(--light-color);
    padding: 0px 18.5px 7px 18.5px;

    &:hover {
      border-bottom: 1px solid var(--secondary-color);
      color: var(--secondary-color);
    }

    &:active {
      border-color: #f3ab5e;
      color: #f3ab5e;
    }

    &-icon {
      color: var(--light-color);

      &:hover {
        color: var(--secondary-color);
      }

      &:active {
        border-color: #f3ab5e;
        color: #f3ab5e;
      }
    }

    &__item-img {
      padding: 0 30px 1px 0;
    }

    @media (max-width: 1200px) {
      font-size: 13px;
      line-height: 15px;
      padding: 0px 12px 7px 12px;
    }
  }
}
