.our-work {
  display: grid;
  grid-template-areas:
    'item1 item2 item3 item4'
    'item5 item6 item3 item7';

  @media (max-width: 576px) {
    grid-template-areas:
      'item1 item3'
      'item5 item3'
      'item7 item3'
      'item4 item2'
      'item6 item6';
  }

  &__item_first {
    grid-area: item1;
  }

  &__item_second {
    grid-area: item2;
  }

  &__item_three {
    grid-area: item3;
  }

  &__item_fourth {
    grid-area: item4;
  }

  &__item_fifth {
    grid-area: item5;
  }

  &__item_sixth {
    grid-area: item6;

    @media (max-width: 576px) {
      max-height: 152px;
    }
  }

  &__item_seventh {
    grid-area: item7;
  }

  &__image {
    @include img-cover;
  }

  &__item {
    position: relative;
  }

  &__text {
    opacity: 0;
    align-items: center;
    gap: 1.775rem;
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
    color: inherit;

    &:hover {
      @include flex-column;
      justify-content: center;
      animation: bounceInLeft-second 300ms ease-in-out 1 forwards;

      @keyframes bounceInLeft-second {
        0% {
          opacity: 0;
          top: 0;
          right: 0;
        }

        100% {
          opacity: 1;
        }
      }
    }
  }

  &__title {
    color: inherit;
  }

  &__link {
    color: var(--light-color);

    &:active {
      color: var(--danger-color);
    }
  }

  &__icon {

    @media (max-width: 1200px) {
      max-width: 28px;
      max-height: 28px;
    }
  }
}
