.our-work {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, min-content);
  grid-template-areas:
    'item1 item2 item3 item4'
    'item5 item6 item3 item7';

  &__item_first {
    grid-area: item1;
  }

  &__item_second {
    grid-area: item2;
  }

  &__item_three {
    grid-area: item3;
  }

  &__item_fourth {
    grid-area: item4;
  }

  &__item_fifth {
    grid-area: item5;
  }

  &__item_sixth {
    grid-area: item6;
  }

  &__item_seventh {
    grid-area: item7;
  }

  &__image {
    @include img-cover;
  }

  &__item {
    position: relative;
  }

  &__text {
    opacity: 0;
    align-items: center;
    gap: 1.775rem;
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--light-color);

    &:hover {
      @include flex-column;
      justify-content: center;
      animation: bounceInLeft-second 300ms ease-in-out 1 forwards;

      @keyframes bounceInLeft-second {
        0% {
          opacity: 0;
          top: 0;
          right: 0;
        }

        100% {
          opacity: 1;
        }
      }
    }

    &:active {
      color: var(--danger-color);
    }
  }

  &__title {
    padding-top: 40px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }
}
