.our-work {
  display: grid;
  grid-template-areas:
    'item1 item2 item3 item4'
    'item5 item6 item3 item7';

  @media (max-width: 576px) {
    grid-template-areas:
      'item1 item3'
      'item5 item3'
      'item7 item3'
      'item4 item2'
      'item6 item6';
  }

  &__item {
    position: relative;

    //grid class

    &_first {
      grid-area: item1;
    }

    &_second {
      grid-area: item2;
    }

    &_three {
      grid-area: item3;
    }

    &_fourth {
      grid-area: item4;
    }

    &_fifth {
      grid-area: item5;
    }

    &_sixth {
      grid-area: item6;

      @media (max-width: 576px) {
        max-height: 152px;
      }
    }

    &_seventh {
      grid-area: item7;
    }
  }

  &__image {
    @include img-cover;
  }

  &__link {
    color: var(--light-color);

    &:active {
      color: var(--danger-color);
    }
  }

  &__text {
    opacity: 0;
    align-items: center;
    gap: 1.775rem;
    @include absolute-zero;
    background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
    color: inherit;

    @media (max-width: 576px) {
      gap: 10px;
    }

    &:hover {
      @include flex-column;
      justify-content: center;
      animation: bounceInLeft-second 300ms ease-in-out 1 forwards;

      @keyframes bounceInLeft-second {
        0% {
          opacity: 0;
          top: 0;
          right: 0;
        }

        100% {
          opacity: 1;
        }
      }
    }
  }

  //color link hover
  &__title {
    color: inherit;
  }

  &__icon {

    @media (max-width: 1200px) {
      max-width: 28px;
      max-height: 28px;
    }
  }
}
