.posttitle {
  font-size: 1.125rem;
  line-height: 1.313rem;
  color: #000000;

  &_color {
    color: var(--gray-800);
  }

  &_text_left {
    text-align: left;
  }

  &_text_upp {
    text-transform: uppercase;
  }
}
