.posttitle {
  font-size: 1.125rem;
  line-height: 1.313rem;
  color: var(--dark-color);

  @media (max-width: 1200px) {
    font-size: 14px;
    line-height: 16px;
  }

  &_primary-color {
    color: var(--primary-color);
  }

  &_text_left {
    text-align: left;
  }

  &_text_upp {
    text-transform: uppercase;
  }

  &_text_capitalize {
    text-transform: capitalize;
  }

  &_gray-300 {
    color: var(--gray-300);
  }

  &_size_xs {
    font-size: 13px;
    line-height: 15px;

    @media (max-width: 1200px) {
      font-size: 12px;
      line-height: 14px;
    }

  }

  &_text_underline {
    text-decoration-line: underline;
    text-decoration-color: var(--primary-color);
  }
}
