.pretitle {
  font-family: 'Kaushan Script';
  font-size: 30px;
  line-height: 44px;
  color: var(--primary-color);

  &_light_color {
    color: var(--light-color);
  }

  &_dark_color {
    color: var(--dark-color);
  }
}
