.pretitle {
  font-family: 'Kaushan Script';
  font-size: 30px;
  line-height: 44px;
  color: var(--primary-color);

  @media (max-width: 1200px) {
    font-size: 24px;
    line-height: 35px;
  }

  &_size_xs {
    font-size: 18px;
    line-height: 26px;
  }

  &_light_color {
    color: var(--light-color);
  }

  &_dark_color {
    color: var(--dark-color);
  }
}
