.title {
  font-weight: 900;
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 2.625rem;
  text-transform: uppercase;
  color: var(--gray-800);

  &_color_white {
    color: #fff;
    max-width: 56.25rem;
    padding-bottom: 2.75rem;
  }

  &_size_s {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }

  &_color_red {
    color: #F38281;
  }
}
