.title {
  font-weight: 900;
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 2.625rem;
  text-transform: uppercase;
  color: var(--primary-color);

  @media (max-width: 1200px) {
    font-size: 24px;
    line-height: 28px;
  }

  &_light_color {
    color: var(--light-color);
  }

  &_size_s {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    @media (max-width: 1200px) {
      font-size: 18px;
      line-height: 21px;
    }
  }

  &_size_xs {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
  }

  &_danger_color {
    color: var(--danger-color);
  }

  &_text_left {
    text-align: left;
  }
}
