.title {
  font-weight: 900;
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 2.625rem;
  text-transform: uppercase;
  color: #2D3033;

  &_color_white {
    color: #fff;
    max-width: 56.25rem;
    padding-bottom: 2.75rem;
  }
}
