.under-main {
  padding: var(--main-padding-box);
  &__row {
    display: grid;
    grid-template-columns: 0.8fr 1fr max-content;
    grid-template-rows: max-content;
    gap: 30px;

    @media (max-width: 1200px) {
      gap: 20px;
    }
  }
}
